.words {
  max-width: var(--max-width);
  width: var(--page-width);
  padding-top: var(--main-gap);
  padding-bottom: var(--bottom-gap);
  margin: auto;
  position: relative;
}

/* .words > h2 {
  font-weight: 400;
  margin: 0 0 var(--heading-gap);
} */

span.wtable__checkbox  {
  &.Mui-checked {
    color: #7575759c;
  }
}

.words__container {
  display: flex;
  /* justify-content: space-around; */
}

.words__table-wrapper {
  width: 100%;
  position: relative;
}

.wtable {

}

.wtable th {
  text-align: left;
  padding: 0 10px;
  background-color: var(--white);
  font-weight: 300;
}

.wtable__th_btn {
  transition: var(--transition);
  cursor: pointer;
}

.wtable__th_btn:hover {
  background-color: var(--hover-green);
  border-radius: 10px;
}

.wtable__th_checkbox > .languages-wrapper {
  min-height: auto;
  left: 0;
}

.wtable td {
  padding: 0 10px;
  height: 2.7em;
}

.wtable__td_emph {
  /* font-size: 1.1em; */
  color: var(--prime-blue);
  font-weight: 400;
}

.wtable__fr-btn {
  padding: 5px 13px;
  border-radius: 14px;
  background: var(--white);
  color: var(--prime-blue);
  font-size: 0.9em;
}

.wtable__fr-btn_high {
  background: #ffd9874d;
  color: #b87d00;
}

table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}


.words__heading {
 /*  margin: 0 0 35px 0; */
}

.words__dis-cont {
  font-size: 1.3em;
  /* margin-bottom: 30px; */
  line-height: 1.7em;
  padding: 10px;
  border-bottom: 2px solid var(--prime-yellow);
  color: var(--prime-blue);

  position: absolute;
  /* left: 50%;
  transform: translateX(-50%); */
  top: 34px;
  width: 420px;

  right: 0;
  text-align: right;
}

.words__filter-box{
  margin-right: 6em;
  min-width: 300px;
}

.words__filter-cont {
  padding: 20px 25px;
  background: var(--white);
  box-shadow: 0px 0px 8px 1px #dfdfdf94;
  border-radius: 10px;
  max-width: 300px;
}

.words__slider-wrapper {
  width: 100%;
  margin-top: 2em;
}

/* .words__slider-wrapper h3 {
  margin: 0 0 25px;
  font-weight: 300;
} */

.words__heading-box {
  display: flex;
  align-items: center;
 /*  justify-content: space-between; */
  margin: 0 0 25px;
}

.words__heading-box > span {
  color: var(--prime-blue);
  font-size: 0.9em;
}

.words__slider-heading {
  margin: 0 5px 0 0;
  font-weight: 300;
  position: relative;
}

.words__fr-tlt {
  padding: 0 3px;
}

.words__fr-tlt > svg {
  display: block;
}

span.words__slider {
  color: var(--prime-blue);

}

.words__slider span {
  &.MuiSlider-thumb:hover, &.Mui-focusVisible {
    box-shadow: 0px 0px 0px 7px rgb(55 99 108 / 19%);
  }

  &.MuiSlider-valueLabel {
    background-color: transparent;
    color: var(--prime-blue);
    top: -3px;
  }

  &.MuiSlider-markLabel {
    font-size: 0.8em;
  }

  &.MuiSlider-markLabelActive {
    color: var(--prime-blue);
  }

  font-family: inherit;

  /*
  color: #37636c;
    font-family: inherit;
    font-size: 0.8em; */

}

div.words__select {
  width: 100%;
  /* margin-bottom: 30px; */
}

.words__select {
  & .MuiOutlinedInput-root {
    border-radius: 10px;
  }
  & .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--prime-blue);
  }

  & .MuiInputLabel-root.Mui-focused {
    color: var(--prime-blue);
  }
}

.words__search-btn {
  background: var(--prime-blue);
  color: #fff;
  font-weight: 300;
  border-radius: 10px;
  width: 100%;
  height: 36px;
  margin-bottom: 2em;
  cursor: pointer;
  transition: var(--transition);
}

.words__search-btn:hover {
  background: var(--darker-blue);
}

.words__search-btn_inactive {
  background: var(--darker-blue);
  cursor: wait;
}

/* .words__expand-btn {
  padding: 7px;
  border-radius: 10px;
  width: 100%;
  font-weight: 300;
  border: 1px solid #bebebe6e;
  transition: var(--transition);
  cursor: pointer;
  margin-top: 7px;
}

.words__expand-btn:hover {
  background-color: var(--white);
} */

.words__table-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0);
  opacity: 0;
  transition: visibility 0.2s, opacity 0.3s;
  visibility: hidden;
}

.words__table-overlay_active {
  visibility: visible;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  opacity: 1;
}

.words__not-found {
  display: none;
  position: absolute;
  top: 20%;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  min-width: 100px;
  text-align: center;
}

.words__not-found_active {
  display: block;
}


