.progress {
  flex: 1;

  animation: fade-in 0.5s ease-out;
}

.progress__chart-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.progress .area-chart, .bar-chart {
  width: 45%;
  max-width: 450px;
  min-width: 350px;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--darker-blue);
  border-radius: 10px;
  flex-grow: 1;
}

.progress .area-chart {
  /* width: 60%;
  max-width: 450px; */
}

.progress .bar-chart {
  /* width: 40%;
  max-width: 350px; */
}

.progress .area-chart > h3, .bar-chart > h3 {
  font-size: 1.3em;
  color: #fff;
  font-weight: 300;
  margin: 10px 0;
  text-align: center;
}

