:root {
  --page-width: 98%;
  --header-font: 18px;
  --main-font: 16px;
  --header-font: 1.2em;
  --transition: all 0.3s;
  --main-gap: 55px;
  --top-gap: 35px;
  --light-grey: #bebebe;
  --black-secodary: #757575;
  --main-green: #127386;
  --light-green: #12738638;
  --super-light-green: #dbecec;
  --middle-green: #7da1a9;
  --hover-green: #bedcdf;
  --main-blue: #aacdd4;
  --light-red: #ff9671;
  --white: #f5f9f9;
  --lang-btn-height: 42px;
  --translate-radius: 10px;
}

.page {
  font-family: 'Noto Sans Display', Sans-serif, Arial, Helvetica;
  font-weight: 300;
  font-size: var(--main-font);

}

.page__wrapper {
  margin: auto;
  width: var(--page-width);
  max-width: 1300px;
  min-height: 100vh;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
}
