

.main__promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--main-gap);
}

.promo__img {
  max-height: 300px;
}

.promo__container p {
  font-size: 1.4em;
}

.promo__container > h1 {
  font-weight: 400;
}

.promo__btn {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 5px 0 0;
  background: 0;
  border: 0;
  font-weight: 300;
  color: var(--black-secodary);
  cursor: pointer;
}

.promo__btn > p {
  margin-right: 7px;
  font-size: 1.2em;
  transition: var(--transition);
  border-bottom: 1px solid transparent;
}

.promo__btn:hover > p {
  color: #000;
  border-bottom: 1px solid #000;
}

.arrow {
	cursor: pointer;
	position: relative;
	width: 19px;
	height: 13px;

	&::before {
		transform: rotate(-135deg);
	}

	&::after {
		transform: rotate(135deg);
	}
}

.arrow::before, .arrow::after  {
  content: '';
  left: 8px;
  width: 1.7px;
  height: 9px;
  position: absolute;
  border-bottom: 10.7px solid var(--black-secodary);
  transition: transform .2s ease;
}

.promo__btn_active .arrow::before {
  transform: translateY(-8px) rotate(-45deg);
}

.promo__btn_active .arrow::after {
  transform: translateY(-8px) rotate(45deg);
}
