.translator-wrapper {
  max-width: 1200px;
  margin: auto;
}

.translator {
  /* display: flex; */
  display: grid;
  grid-template-columns: minmax(300px, 1fr) auto minmax(300px, 1fr);
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
}

.translator__swap-btn {
  padding: 7px 0;
  cursor: pointer;
}

.translator__swap-btn > svg {
  fill: var(--middle-green);
  width: 30px;
  transition: var(--transition);
}

.translator__swap-btn:hover > svg {
  transform: rotateY(180deg);
  fill: var(--main-green);
}

.translator__box {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: var(--translate-radius);
}

.translator__box_input {
  background: var(--white);
  box-shadow: 0px 0px 10px 0px #89c4c45e;

}

.translator__box_output {
  background: var(--super-light-green);
  box-shadow: 0px 0px 10px 0px #89c4c45e;
}

.translator__lang {
  border-bottom: 1px solid #12738638;
  padding: 0;
  height: var(--lang-btn-height);
  box-sizing: border-box;
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--translate-radius) var(--translate-radius) 0 0;
}

.translator__lang:hover {
  background: var(--hover-green);
}

.translator__container {
  height: 150px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  position: relative;
}

.translator__container > span {
  display: flex;
  align-self: flex-end;
  font-size: 0.9em;
  color: var(--black-secodary);
}

.translator__text {
  resize: none;
  outline: none;
  border: none;
  width: calc(100% - 50px);
  height: 75%;
  box-sizing: border-box;
  background: transparent;
  font-size: 1.2em;
  font-weight: 400;
}

.translator__text_inactive {
  color: var(--black-secodary);
  font-weight: 300;
}

.translator__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 10px;
  border-radius: 50%;
  transition: var(--transition);
  cursor: pointer;
}

.btn-cross {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.translator__btn:hover {
  background: var(--hover-green);
}

.btn-cross svg {
  display: block;
  transform: rotate(45deg);
  width: 14px;
}

.btn-cross svg line {
  stroke: var(--black-secodary);
  stroke-width: 8;
}

.error {
  bottom: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 100%);
  -moz-transform: translate(-50%, 100%);
  padding: 5px;
  background: var(--light-red);
  border-radius: 10px;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
}

.error_active {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
}
