.snackbar {
  position: absolute;
  padding: 7px 15px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
  bottom: 4%;
  left: 3%;
  transition: visibility 0.3s, transform 0.5s, opacity 0.5s;
  z-index: 10;
  color: #000;
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 250px;
  font-size: 1.1em;
  min-height: 30px;
  background: #f5f9f9;
  border-radius: 5px;
}

.snackbar_active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
